<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>PPWF Table</title>
	<!link rel="stylesheet" type="text/css" href="pert3/style.css">
</head>
<style>
	.tb {margin-left: auto ; margin-right: auto ; align: center}
	.tb th, .tb td {padding: 3px ; text-align: center}
	.tb {background-color: grey ; border-collapse: collapse}
	.tb tr, .tb th, .tb td {border: solid 1px}
</style>
<body>
	<table class="tb">
		<tr>
			<th>Nama</th>
			<th>NIM</th>
			<th>Kelompok</th>
			<th>Website</th>
		</tr>
		<tr>
			<td>Okky Fenardi</td>
			<td>31180013</td>
			<td>Kelompok 5</td>
			<td><a href="https://student.ubm.ac.id" target="_blank">UBM</a></td>
		</tr>
		<tr>
			<td>Marco Antonio</td>
			<td>31190011</td>
			<td>Kelompok 5</td>
			<td><a href="https://student.ubm.ac.id" target="_blank">UBM</a></td>
		</tr>
		<tr>
			<td>Derrent Antonio</td>
			<td>31190087</td>
			<td>Kelompok 5</td>
			<td><a href="https://student.ubm.ac.id" target="_blank">UBM</a></td>
		</tr>
	</table>
</body>
</html>